bot.json
[{"id":"6735e1d5.3a469","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91b804bd.98dc78","type":"telegram command","z":"6735e1d5.3a469","name":"","command":"/start","bot":"d8138bbf.cbc328","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":570,"y":280,"wires":[["34280732.33f3e8","d9048ba0.389bc8"],[]]},{"id":"3d245837.5557a8","type":"telegram sender","z":"6735e1d5.3a469","name":"","bot":"d8138bbf.cbc328","haserroroutput":false,"outputs":1,"x":980,"y":320,"wires":[[]]},{"id":"34280732.33f3e8","type":"function","z":"6735e1d5.3a469","name":"Welcome message","func":"let firstName=msg.originalMessage.chat.first_name;\nmsg.payload.content = \"Привіт, \"+ firstName +\".\\n\"+\"Для того щоб дізнатись погоду у Льові напишіть /weather\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":300,"wires":[["3d245837.5557a8"]]},{"id":"d9048ba0.389bc8","type":"debug","z":"6735e1d5.3a469","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"e0410360.37b9d","type":"telegram command","z":"6735e1d5.3a469","name":"","command":"/weather","bot":"d8138bbf.cbc328","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":500,"y":480,"wires":[["994979c8.4b84f8"],[]]},{"id":"ea254d15.81188","type":"telegram sender","z":"6735e1d5.3a469","name":"","bot":"d8138bbf.cbc328","haserroroutput":false,"outputs":1,"x":1160,"y":560,"wires":[[]]},{"id":"994979c8.4b84f8","type":"function","z":"6735e1d5.3a469","name":"set headers","func":"msg.headers = {};\nmsg.headers['x-rapidapi-key'] = '7e114d3d0bmsh4d2e758db25c455p1bd7e9jsna52686787ce1';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":560,"wires":[["2c8047f7.ba47b8"]]},{"id":"2c8047f7.ba47b8","type":"http request","z":"6735e1d5.3a469","name":"weather http request (open-weather-map)","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://community-open-weather-map.p.rapidapi.com/weather?q=lviv&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":440,"wires":[["7beaf62.c419708","217f0b92.ca17f4"]]},{"id":"7beaf62.c419708","type":"debug","z":"6735e1d5.3a469","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":400,"wires":[]},{"id":"217f0b92.ca17f4","type":"json","z":"6735e1d5.3a469","name":"response","property":"payload","action":"","pretty":false,"x":920,"y":540,"wires":[["86775968.f8cdd8"]]},{"id":"86775968.f8cdd8","type":"function","z":"6735e1d5.3a469","name":"Weather message","func":"let forecastMessage = \"\";\nlet temp = msg.payload.main.temp;\nlet tempFelesLike = msg.payload.main.feels_like;\nlet tempMin = msg.payload.main.temp_min;\nlet tempMax = msg.payload.main.temp_max;\n\nlet windSpeed = msg.payload.wind.speed;\nlet pressure = msg.payload.main.pressure;\n\nforecastMessage = forecastMessage + \"Погода у Львові:\\n\";\nforecastMessage = forecastMessage + \"Температура повітря: \" + Math.floor(temp,0) + \"\\n\";\nforecastMessage = forecastMessage + \"Температура повітря відчувається як: \"+Math.floor(tempFelesLike,0) + \"\\n\"; \nforecastMessage = forecastMessage + \"Мінімальна температура на сьогодні: \" + Math.floor(tempMin,0) + \"\\n\";\nforecastMessage = forecastMessage + \"Максимальна температура на сьогодні: \" + Math.floor(tempMax,0) + \"\\n\";\n\nforecastMessage = forecastMessage + \"Швидкість вітру: \" + Math.floor(windSpeed,0) + \"\\n\";\nforecastMessage = forecastMessage + \"Тиск: \" + Math.floor(pressure,0) + \"\\n\";\n\nmsg.payload = {}\nmsg.payload.chatId = msg.originalMessage.chat.id;\nmsg.payload.type = \"message\"\nmsg.payload.content = forecastMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":660,"wires":[["ea254d15.81188","9ab1a733.56ad38"]]},{"id":"9ab1a733.56ad38","type":"debug","z":"6735e1d5.3a469","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":660,"wires":[]},{"id":"d8138bbf.cbc328","type":"telegram bot","botname":"iryna_zelinska","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]